.msgNoLeido {
	background-color: #6CCC99
}

.li_clickeable, #nueva_carpeta {
	cursor: pointer;
}

.center_div_respuesta {
	position: absolute;
    height: 180px;
    width: 350px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    display : block;
    background-color: #AAAAAA
}

.center_div_carpeta {
	position:fixed;
    top: 50%;
    left: 50%;
    height: 180px;
    width: 350px;
    margin-top: -90px; /*set to a negative number 1/2 of your height*/
    margin-left: -175px; /*set to a negative number 1/2 of your width*/
    background-color: #AAAAAA;
    z-index: 2
}

.ui-state-active {
	background-color: #CCCCCC !important;
	border-color: #357EBD !important
}

.selectedFolder {
	background-color:#FFCC66;
    text-shadow: none;
}
    
.ui-menu .ui-menu-item a{
    background:#FFFFFF;
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-size: 13px;
    line-height: 1.42857;;
}

.input input{
	width: 280px;
}

