.msgNoLeido {
	background-color: #6CCC99
}

.li_clickeable, #nueva_carpeta {
	cursor: pointer;
}

.center_div {
	position: absolute;
    height: 400px;
    width: 350px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    display : block;
    background-color: #AAAAAA
}

.ui-state-active {
	background-color: #CCCCCC
}

.selectedFolder {
	background-color:#FFCC66;
    text-shadow: none;
}
    
.ui-menu .ui-menu-item a{
    background:#FFFFFF;
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-size: 13px;
    line-height: 1.42857;;
}

.input input{
	width: 280px;
}